body{
    background-color: #bbb;
    height: 100vh;
   }
   
   .pay_h1{
       text-align: center;
       font-size: 25px;
       color: black;
       padding-top: 14%;
   }
   
   .button{
           font-family: "Roboto", sans-serif;
           text-transform: uppercase;
           outline: 0;
           background: rgb(138 146 130 / 98%);
           width: 20%;
           border-radius: 10px;
           border: 0;
           padding: 15px;
           color: #090909;
           font-size: 14px;
           -webkit-transition: all 0.3 ease;
           transition: all 0.3 ease;
           cursor: pointer;
           margin-top: 15px;
           margin-bottom: 15px;
           margin-left: 40%;
       }
   *{
       margin: 0px;
       padding: 0px;
   }