.lablehead
{
    font-size: 17px;
    padding:8px;
    width:40%;
    display: inline-block;
    text-align: left;
    color: #FFFFFF;
}


.box{
    padding:10px;
    width:44%;
    margin: 10px;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 10%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 15px;
}
.btn_four{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 12%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-right:30px;
}
.btn_add_new{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 11%;
    border: 5;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left:1%
}
.btn_sat{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 18%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-right:30px;  
}

.form_f {
    position: absolute;
    z-index: 1;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    max-width: 500px;
    margin: 0 auto 100px;
    left: 526px;
    top:32%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .body_1{
    background-size: cover;
    background-repeat: no-repeat;  
    height:200vh;
    width: 100%;
      background-image: url('/assets/openacc.jpg');
  }

  .button_h{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(138 146 130 / 98%);
    width: 40%;
    border-radius: 10px;
    border: 0;
    padding: 15px;
    color: #090909;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12px;
}

.text_p{
    color: #FFFFFF;

}