<div  class="bg-image_a">
  <div class="form_a">
  <h1 class="log-h1">Admin Login</h1>
  <form (ngSubmit)="login()" >
      
      <label class="lablehead_1">Admin Id : </label> 
     <input type = "textbox" name="Adminid" [(ngModel)]="Admin.Adminid" class="box_2">
    
     <br>
      <label class="lablehead_1">Password :</label>
    <input type="password" name="passwords" [(ngModel)]="Admin.Passwords" class="box_2" >

    <div>
     
      <button type="submit" class="button">Login</button></div>
   </form>
   </div>
   </div>
