<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open Savings Account</title>
<div class="bg-image">
  <div class="form">
<div style=" text-align: center;">
    <h1 style="color: white;">Admin Login</h1>
    <form (ngSubmit)="login()" >
        
        <label class="lablehead">Admin Id : </label> 
       <input type = "textbox" name="Adminid" class="box" [(ngModel)]="Admin.Adminid" >
      
       <br>
        <label class="lablehead">Password :</label>
      <input type="password" name="passwords" class="box" [(ngModel)]="Admin.Passwords" >

      <div>
       
        <button type="submit" class="button">Login</button></div>
     </form>
     </div>
