<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<div class="bg-image">
<div class="form">
    <h1 class="log-h1">Login</h1>
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">

        <label class="lablehead">User Id : </label> 
       <input type = "textbox" id="UserId" class="box" name="UserId" formControlName="UserId">
       <div *ngIf="!UserId?.valid && (UserId?.dirty || UserId?.touched)">
        <div [hidden]="!UserId?.errors?.['required']">
         User Id is required
        </div>
        </div>

       <br>
        <label class="lablehead">Password :</label>
       <input type=" textbox" id="Password" class="box" name="Password" formControlName="Password">

       <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)">
        <div [hidden]="!Password?.errors?.['required']">
          Password Is required</div>
        
      </div>

      <div>
        <button class="button">Login</button>
      </div>

    </form>
  </div>

     <div class="for">
     <p><a routerLink="register" class="for_p">First Time user? Register</a></p>
     <p><a routerLink="forgotid" class="for_p">Forgot User Id?</a></p>
     <p><a routerLink="forgotpass" class="for_p">Forgot Password?</a></p>
    </div>
     </div>