<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<div class="bg-image">
<div class="form">
    <h1 class="log-h1">Login</h1>
    <form (ngSubmit)="login()">

        <label class="lablehead">Customer Id : </label>  <br>
       <input type = "number" id="UserId" class="box" name="UserId" formControlName="CustomerId">
       <br>
        <label class="lablehead">Password :</label> <br>
       <input type="password" id="Password" class="box" name="Password" formControlName="Password">

      <div>
        <button type="submit" class="button">Login</button>
      </div>

    </form>
  </div>

     <div class="for">
     <p><a routerLink="register" class="for_p">First Time user? Register</a></p>
     <p><a routerLink="forgotid" class="for_p">Forgot User Id?</a></p>
     <p><a routerLink="forgotpass" class="for_p">Forgot Password?</a></p>
    </div>
     </div>