<body>
  <header class="header">
    <h1 class="logo"><a href="#">SvacmBank</a></h1>
  <div *ngIf="!message">  
    <ul class="main-nav">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="aboutus">About Us </a></li>
          <li><a routerLink="openacc">Open Account</a></li> 
          <li><a routerLink="userlogin">Login</a></li>
          <li><a routerLink="adminlogin">Admin Login</a></li>
      </ul>
       </div> 
       <div *ngIf="message">
        <ul class="main-nav">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="aboutus">About Us </a></li>
         <li><a routerLink="fundtransfer">Fund Transfer</a></li>
          <!-- <li><a routerLink="openacc">Open Account</a></li> -->
          <li>
            <a href="home"  (click)='logout()'>Logout</a>
          </li>
          
      </ul>
      </div>
  </header> 
   <router-outlet></router-outlet>  
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by SAVCM.
        </p>
      </div>
    </div>
  </div>
</footer>
</body>