<div style=" text-align: center;">
    <h1>Forgot Password</h1>
    <form>
        
        <label class="lablehead"> Enter User Id : </label> 
       <input type = "textbox" id="beneficiary-name" value="" class="box">
      
       <br>
        <label class="lablehead"> Enter Otp :</label>
      <input type=" textbox" id="beneficiary-Account-number" value="" class="box">

      <div>
        <button class="button">Back</button>
        <button class="but">Proceed</button>
    </div>
     </form>

