.item {

    background: url('src/assets/openacc.jpg') fixed;

   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height:100%;
   min-width:100%;
   height: 680px;;
   width:100%;
   position:absolute;
   top:-8%; bottom:-8%;
   left:-8%; right:-8%;
   margin:auto;



}



*[role="button"]{

    width: 20%;

   

   padding: 50px;

   margin-top: 250px;

   margin-left: 10%;

   border-radius: 0.5em;

   block-size: 200px;

   text-align: center;



}

*[role="button1"]{

    width: 20%;

   

    padding: 50px;
 
    margin-top: 250px;
 
    margin-left: 8%;
 
    border-radius: 0.5em;
 
    block-size: 200px;
 
    text-align: center;

}

*[role="button2"]{

   
    width: 20%;

   

    padding: 50px;
 
    margin-top: 250px;
 
    margin-left: 8%;
 
    border-radius: 0.5em;
 
    block-size: 200px;
 
    text-align: center;
}

*[role="button3"]{

   
    width: 20%;

   

    padding: 50px;
 
    margin-top: 250px;
 
    margin-left: 8%;
 
    border-radius: 0.5em;
 
    block-size: 200px;
 
    text-align: center;
}
.item a:hover {
    background-color: rgb(67, 144, 145);
    transform: scale(1.2);
  }