<div style=" text-align: center;">
    <h1>Register for Internet Banking</h1>
    <form>
     
        <label class="lablehead">Account Number :</label>
      <input type=" textbox" id="Account-number" value="" class="box">
       <br>
        <label class="lablehead">Set Login Password :</label>
       <input type="text" id="set-login-password" value="" class="box">
        <br>
        <label class="lablehead">Confirm Login Password :</label>
        <input type="text" id="confirm-login-password" value="" class="box">
       <br>
        <label class="lablehead">Set Transaction Password :</label>
       <input type="text" id="set-transt-password" value="" class="box">
        <br>
        <label class="lablehead">Confirm Transaction Password :</label>
        <input type="text" id="confirm-transt-password" value="" class="box">
        <br>
       <div>
         
       <button class="button">Submit</button></div>
    </form>
    </div>